<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714336496741-7lst63coa9g8ks0e9smnano92rqijajr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714336496741-7lst63coa9g8ks0e9smnano92rqijajr</string>
	<key>API_KEY</key>
	<string>AIzaSyBoySyxHO9JZfzVzUN5-LdPy2Hz356hc2A</string>
	<key>GCM_SENDER_ID</key>
	<string>714336496741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppleAuthentication</string>
	<key>PROJECT_ID</key>
	<string>apple-authentication</string>
	<key>STORAGE_BUCKET</key>
	<string>apple-authentication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714336496741:ios:d8deef7db0a00e96852a8c</string>
</dict>
</plist>